.OxygenRegular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  
#container{
    max-width: 1440px;
    width:  100%;
    height: 2600px;
    margin: auto;
}

.header {
  display: flex;
  justify-content: center;
  height: 74px;
}

#ContainerHead {
  width: 940px;
  height: 40px;
  margin-top: 17px;
}

.ContainerNav {
  display: inline;
  float: right;
}

.nav {
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  color: rgba(46, 46, 46, 1);
  text-decoration: none;
}

#BlockIntro {
  width: 940px;
  height: 159px;
  box-sizing: border-box;
  margin-top: 163px;
  margin-left: 250px;
}

.IntroLora {
  font-size: 50px;
  text-align: center;
  line-height: 51px;
}

.subtittle {
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  top: 64px;
  left: 218px;
  color: rgba(46, 46, 46, 0.63);
}

.info { 
  top: 140px;
  left: 240px;
  font-size: 24px; 
  line-height: 35px;
}

.logo_end {
  font-size: 26px;
  line-height: 26px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.nav_end {
  display: inline-block;
  list-style: none;
  font-size: 11px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 40px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(46, 46, 46, 1);
  text-decoration: none;
}

#ContainerEnd {
  max-width: 1440px;
  width:  100%;
  margin: auto;
  height: 89px;
  background-image: url("Footer.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.block {
  box-sizing: border-box;
  margin-top: 140px;
  width: 960px;
  height: 1431px;
  margin-left: 240px;
}

.text {
  width: 960px;
  box-sizing: border-box;
  margin-top: 140px;
  margin-left: 240px;
  font-size: 24px;
  line-height: 35px;
}

.nav a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  list-style: none;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(46, 46, 46, 1);
  text-decoration: none;
}

.nav_end a {
  text-decoration: none;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  list-style: none;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}