.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  
.container{
    max-width: 960px;
    width:  100%;
    margin: 0 auto;
}

.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.header_logo{
  line-height: 26px;
  font-size: 26px;
  text-align: left;
}

.header ul li {
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  list-style: none;
  margin-right: 40px;
  text-align: center;
}

.intro h1 {
  font-size: 50px;
  text-align: center;
  line-height: 51px;
}

.subtittle h2 {
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  top: 64px;
  left: 218px;
  color: rgba(46, 46, 46, 0.63);
}

.info { 
  top: 140px;
  left: 240px;
  font-size: 24px; 
  line-height: 35px;
}

.section {
  background-image: url("Rectangle.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: rgba(35, 47, 56, 0.6);
  width: 1440px;
  height: 89px;
  top: 2600px;
}

.logo_end {
  font-size: 26px;
  font-weight: 400;
  text-align: left;
}

.nav_end {
  display: inline-block;
  list-style: none;
  font-size: 11px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 40px;
  text-align: center;
}