* {
  margin: 0;
  padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-image: url(img/desert.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
  }

  .navigation__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .header__logo {
    display: inline;
  }

  .navigation {
    display: inline;
  }

  .navigation__link {
    display: block;
    padding-left: 40px;
    font-family: Oxygen;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-align: right;
    text-decoration: none;
  }
  