.container{
    max-width: 1440px;
    width:  100%;
    height: 2600px;
    margin: auto;
}

.header {
  height: 74px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}

.nav {
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav__link {
  margin-left: 50px;
  color: rgba(46, 46, 46, 1);
  text-decoration: none;
}

.ContainerHead {
  width: 940px;
  height: 40px;
  margin-top: 17px;
  margin-left: 250px;
}

.ContainerNav {
  display: inline;
  float: right;
}

.BlockIntro {
  width: 940px;
  height: 159px;
  box-sizing: border-box;
  margin-top: 163px;
  margin-left: 250px;
}

.IntroLora {
  font-size: 50px;
  text-align: center;
  line-height: 51px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.subtittle {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  text-align: center;
  color: rgba(46, 46, 46, 0.63);
}

.navEnd {
  margin-left: 50px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer {
  width: 1440px;
  height: 90px;
  margin: auto;
  background-image: url(static/images/Footer.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.footerColor {
  width: 1440px;
  height: 89px;
  background-color: rgba(35, 47, 56, 0.6);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}

.ContainerEnd {
  width: 960px;
  margin-left: 240px;
}

.text {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 960px;
  box-sizing: border-box;
  margin-top: 140px;
  margin-left: 240px;
  font-size: 24px;
  line-height: 35px;
}