* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 17px;
  max-width: 940px;
  margin: 0 auto;
}

.navigation__list {
  display: flex;
  list-style-type: none;
}

.navigation__link {
  display: block;
  padding-left: 40px;
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

.banner {
  background-image: url(http://localhost:8001/static/images/desert.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  background-position: center bottom;
  margin: auto;
}

.block-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 184px;
}

.block-intro__tittle {
  font-family: Lora;
  font-size: 50px;
  font-weight: 400;
  line-height: 51px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 22px;
}

.block-intro__subtittle {
  font-family: Oxygen;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.63);
  margin-bottom: 22px;
}

.block-intro__button {
  font-family: Oxygen;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(221, 120, 63, 1);
  border-radius: 3px;
  padding: 11px 31px;
}

.block-discription {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: rgba(255, 255, 255, 1);
  max-width: 1440px;
  margin: auto;
}

.block-discription__discription {
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.discription__list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.discription__link {
  display: block;
  font-family: Lora;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(118, 128, 136, 1);
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
}

.content-block1__article {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.block-feature {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 7px;
}

.block-feature__tittle {
  margin-top: 60px;
  font-family: Oxygen;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 2px;
  text-align: center;
}

.block-future__line {
  max-width: 188px;
  margin: 17px auto;
  margin-bottom: 15px;
  color: rgba(222, 222, 222, 1);
  max-height: 1px;
}

.block-future__content-block1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 7px;
  padding-bottom: 7px;
  max-width: 960px;
}

.article__background_1 {
  border-radius: 3px;
  background-image: url(http://localhost:8001/static/images/Article1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 460px;
}

.article__background_2 {
  border-radius: 3px;
  background-image: url(http://localhost:8001/static/images/Article2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 460px;
}

.future-article__tittle {
  font-family: Lora;
  font-size: 27px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  margin-top: 160px;
  margin-left: 20px;
}

.future-article__subtittle {
  font-family: Oxygen;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
  margin-left: 20px;
}

.future-article__information {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.future-article__author {
  display: inline-flex;
  align-items: center;
}

.future-article__name {
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 10px;
}

.future-article__date {
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
}

.article2__button {
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(221, 120, 63, 1);
  padding: 6px 10px;
  border-radius: 2px;
  max-width: 87px;
  text-align: center;
  margin-bottom: 81px;
  text-transform: uppercase;
}

.article2__background {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-radius: 3px;
  background-image: url(http://localhost:8001/static/images/Article2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 460px;
}

.content-block2__article {
  max-width: 296px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  height: 291px;
  margin-bottom: 35px;
}

.image {
  width: 100%;
  height: 51%;
}

.block-most {
  max-width: 940px;
  margin: 0 auto;
}

.author__photo {
  max-width: 26px;
  max-height: 26px;
  border-radius: 60px;
}

.block-most__tittle {
  margin-top: 60px;
  font-family: Oxygen;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 2px;
  text-align: center;
}

.block-most__line {
  max-width: 188px;
  margin: 17px auto;
  color: rgba(222, 222, 222, 1);
  max-height: 1px;
}

.block-most__content-block2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 960px;
  flex-wrap: wrap;
}

.block-most__main {
  background-color: rgba(255, 255, 255, 1);
  padding-left: 15px;
  padding-top: 14px;
  margin-top: 1px;
  width: 100%;
  height: 28%;
}

.most-article__tittle {
  font-family: Lora;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgba(16, 19, 21, 1);
  margin-bottom: 6px;
}

.most-article__subtittle {
  font-family: Oxygen;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: rgba(122, 122, 122, 1);
  margin-bottom: auto;
}

.most-article__information {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: space-between;
  background-color: rgba(252, 252, 252, 1);
  width: 100%;
  height: 16%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 7px;
  margin-bottom: 6px;
  margin-top: 1px;
}

.most-article__author {
  display: inline-flex;
  align-items: center;
}

.most-article__name {
  font-family: Oxygen;
  font-size: 11px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: rgba(153, 153, 153, 1);
  margin-left: 10px;
}

.most-article__date {
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
  text-align: right;
  color: rgba(153, 153, 153, 1);
}

.navEnd {
  margin-left: 50px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer {
  padding-top: 62px ;
  max-width: 1440px;
  max-height: 378px;
  margin: auto;
  background-image: url(http://localhost:8001/static/images/Footer.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-top: 62px;
  padding-bottom: 80px;
}

.footer-form__title {
  font-family: Oxygen;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(239, 239, 239, 1);
  margin-bottom: 17px;
}

.footer-form__line {
  margin-bottom: 20px;
  color: rgba(222, 222, 222, 1);
  width: 188px;
  max-height: 1px;
}

.footer-form__input {
  display: inline-flex;
  padding-bottom: 10px;
  max-height: 60px;
}

input {
  max-width: 375px;
  max-height: 50px;
  border-radius: 3px 0px 0px 3px;
  border: none;
  padding-left: 35px;
  padding-right: 183px;
}

.input__button {
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: rgba(248, 248, 248, 1);
  border-radius: 0px 3px 3px 0px;
  background-color: rgba(255, 255, 255, 0.28);
  padding-top: 18px;
  padding-left: 43px;
  padding-right: 43px;
  padding-bottom: 18px;
  border: none;
  max-height: 50px;
}

.footerColor {
  max-width: 1440px;
  max-height: 89px;
  margin: auto;
  background-color: rgba(35, 47, 56, 0.6);
  padding-right: 240px;
  padding-left: 240px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}

@media screen and (min-width:1024px) {
  
  
}